<%- include top.ejs %>
<div class="col_9">
    
    <div id="gallery" class="gallery">

    </div>

    <div id="waitScreen">
        Czekaj, trwa ładowanie zdjęć...
    </div>

    <script src="js/galery.js"></script>
</div>
<div class="col_3">

    <div>
        <h2>Podgląd</h2>
        <img class="full-width" id="galeryMain" src="http://placehold.it/260x200/4D99E0/ffffff.png&text=full+width" />
    </div>

    <%- include upload.ejs %>


</div>
<%- include bottom.ejs %>
