<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title><%-title%></title>
    <%- include HeaderIncludes.ejs %>
</head>
<body>

    <%- include menu.ejs %>

    <div class="callout-top"></div>
    <div class="grid">
      
