
<script type="text/javascript" src="js/lodash.min.js"></script>
<script type="text/javascript" src="js/jqui.js"></script>
<link rel="stylesheet" type="text/css" href="uimin.css" media="all" />
<script src="js/upload.js"></script>

<h2>Dorzuć plik</h2>
<div id="progressbar"></div>
<div >
    <p id="status">Proszę wybrać plik:</p>
    
    <input type="file" id="files" />
</div>

<script>

    function getLocation(keyUnique) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
            console.log("Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude); 

        $.ajax( {
              url: "putLocationInDB?longitude=" + position.coords.longitude+"&latitude="+position.coords.latitude+"&key="+keyUnique,
              context: document.body
                }).done( function ( data ) {

                });

            });
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }
    


    function s3_upload() {
        var keyUnique=(new Date()).getTime();
        var s3upload = new S3Upload({
            file_dom_selector: 'files',
            s3_sign_put_url: '/sign_s3',
            s3_object_name:keyUnique ,
            onProgress: function (percent, message) {
                $("#progressbar").progressbar({
                    value: percent
                });
                $('#status').html('Postęp ' + percent + '% ' + message);
            },
            onFinishS3Put: function (public_url) {
                $('#status').html('Wczytano');
               
                pushItem({
                    uri: public_url,
                    key: keyUnique
                });
                getLocation(keyUnique);

                //add location data to db
                
            },
            onError: function (status) {
                $('#status').html('Błąd: ' + status);
            }
        });
    }
    /*
    * Listen for file selection:
    */
    $(document).ready(function () {
        $('#files').on("change", s3_upload);
    });
</script>

