<%- include top.ejs %>

<script src="js/upload.js"></script>

<form id="uploadForm"  method="post">
    <label>Upload Image File:</label><br />
    <input name="userImage" type="file" id="_file" class="inputFile" />
    <input type="submit" value="Submit" class="btnSubmit" />
</form>




<%- include bottom.ejs %>